.nav
  #nav-button
    %i.fa.fa-bars
  %ul
    %li{ active('index.html') }
      = link_to "Home", "/"
    %li= link_to "Book", "#"
    %li{ active('resources.html') }
      = link_to "Resources", "#"
    %li{ active('blog.html') }
      = link_to "Blog", "/blog"
    %li= link_to "Contact", "#"


