---
title: Home | Smart Private Practice
---

.logo
  = image_tag "spp_logo_small.png", class: "welcome"
= render_partial "list"
= render_partial "book"
= render_partial "bio"
= render_partial "newsletter"
